In [2]:
#import friends file and create RDD of lines
lines = sc.textFile("C:/SparkCourse/fakefriends.csv")

In [4]:
print (lines.top(5))

['99,Keiko,69,491', '98,Will,44,178', '97,Nerys,69,361', '96,Ezri,25,233', '95,Odo,29,173']

In [48]:
#python function to split line and return tuples of (age, friendscount, 1), with Integer values
def splitByComma(line):
    line = line.split(',')
    return (int(line[2]), (int(line[3]), 1))

In [29]:
#Transform into (age, (count, 1)), then again Transform by Key into (age, (totalFriendsCount, totalUsers ))
friendsByAge = lines.map(lambda line: splitByComma(line)).reduceByKey(lambda x,y: ((x[0]+ y[0]), (x[1]+ y[1]))

In [30]:
print (friendsByAge.top(5))

[(69, (2352, 10)), (68, (2696, 10)), (67, (3434, 16)), (66, (2488, 9)), (65, (1491, 5))]

In [45]:
# Transform into RDD as (age, avgFriendsByAge), then Transform to Sorted RDD on avgFriendsByAge
avgFriendsByAge = friendsByAge.mapValues(lambda x: round(x[0]/x[1], 2)).sortBy(lambda x: x[1])

In [51]:
print (avgFriendsByAge.take(5))

[(58, 116.55), (20, 165.0), (39, 169.29), (49, 184.67), (38, 193.53)]

### Final Spark Program, which can be submitted to a 'local' Spark instance, set appropriate master to run on cluster

In [50]:
###################################################################################
### Count number of friends by Age
###################################################################################

#broiler plate stuff to be un commented
####from pyspark import SparkConf, SparkContext

####conf = SparkConf().SetMaster("local").setAppName("MovieCountByRatings")
####sc = SparkContext(conf = conf)

#import friends file and create RDD of lines
lines = sc.textFile("C:/SparkCourse/fakefriends.csv")

#python function to split line and return tuples of (age, friendscount, 1), with Integer values
def splitByComma(line):
    line = line.split(',')
    return (int(line[2]), (int(line[3]), 1))

#Transform into (age, (count, 1)), then again Transform by Key into (age, (totalFriendsCount, totalUsers ))
friendsByAge = lines.map(lambda line: splitByComma(line)).reduceByKey(lambda x,y: ((x[0]+ y[0]), (x[1]+ y[1])))

# Transform into RDD as (age, avgFriendsByAge), then Transform to Sorted RDD on avgFriendsByAge
avgFriendsByAge = friendsByAge.mapValues(lambda x: round(x[0]/x[1], 2)).sortBy(lambda x: x[1])

# Action to collect RDD into python object : to Return all the elements of the dataset RDD as an array at the driver program
result = avgFriendsByAge.collect()
print ('age \t averageFriends')
for age, averageFriends in result:
    print (age, '\t', averageFriends)

age 	 averageFriends
58 	 116.55
20 	 165.0
39 	 169.29
49 	 184.67
38 	 193.53
25 	 197.45
60 	 202.71
22 	 206.43
32 	 207.91
28 	 209.1
35 	 211.62
19 	 213.27
67 	 214.62
29 	 215.92
59 	 220.0
62 	 220.77
53 	 222.86
46 	 223.69
27 	 228.12
43 	 230.57
47 	 233.22
24 	 233.8
69 	 235.2
30 	 235.82
26 	 242.06
34 	 245.5
23 	 246.3
36 	 246.6
37 	 249.33
40 	 250.82
50 	 254.6
61 	 256.22
57 	 258.83
31 	 267.25
41 	 268.56
68 	 269.6
66 	 276.44
54 	 278.08
64 	 281.33
48 	 281.4
44 	 282.17
55 	 295.54
65 	 298.2
51 	 302.14
42 	 303.5
56 	 306.67
45 	 309.54
33 	 325.33
52 	 340.64
18 	 343.38
21 	 350.88
63 	 384.0